.navbar-inverse {
    background-image: url(/images/nav.png);
    
}

.linear {
    background-image: linear-gradient(rgba(68,17,136,.9),#418 75%,#418);
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a>b {
    color: #ffffff !important;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.26);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.sidebar-wrapper {
    background-image: url(/images/nav.png);
}